#editor {
    font-family: "Courier New", monospace;
    font-size: 12pt;
}

.current-line {
    background-color: rgba(190, 128, 0, 0.1);
}

.selected {
    background-color: rgba(64, 64, 255, 0.1);
}

.cursor {
    display:inline-block;
    width: 1px;
    margin-left: -1px;
    height: 10pt;
    background-color: black;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s linear infinite;
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}

@-webkit-keyframes blink {
    to {
        background-color: transparent;
    }
}
