{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KSP VoiceEditor</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/styles/default.css" %}" rel="stylesheet">
    <link href="{% static "css/editor.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <div class="col-md-4" id="task-container">
            <h2>Zoznam úloh</h2>
            <ul id="task-list"></ul>
            <h2 id="task-name"></h2>
            <p id="task-content"></p>
        </div>
        <div class="col-md-8">
            <div class="row" id="voice_input_box_placeholder">
                <div id="voice_input_box">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-record"></span></span>
                        <input type="text" class="form-control" placeholder="Povedz niečo" id="voice_input">
                        <span class="input-group-addon" id='lang'>en</span>
                        <span class="input-group-addon" id='editor_lang'>Pascal</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <ol id="editor"></ol>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/lexer.js"%}"></script>
    <script type="text/javascript" src="{% static "js/jquery.min.js"%}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
    <script type="text/javascript" src="{% static "js/commands.js"%}"></script>
    <script type="text/javascript" src="{% static "js/recognition.js"%}"></script>
    <script type="text/javascript" src="{% static "js/jquery-textrange.js"%}"></script>
    <script type="text/javascript" src="{% static "js/highlight.pack.js"%}"></script>
</body>
</html>
